body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: black;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.category {
    text-align: center;
    margin: 1rem;
}

.category img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #333;
}

.category p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product p {
    margin: 0.8rem 0;
}
